<!DOCTYPE html>
<html>
  <head><title>Welcome</title></head>
  <body>
    <h1>{{ welcome_message }}</h1>
    <p>Server configured automatically by {{ admin_user }} using Ansible</p>
  </body>
</html>
